.footer-container {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 20px;
  @media (max-width: 622px) {
    position: static;
    display: flex;
    justify-content: center;
    left: 0;
    transform: translateX(0);
  }
  img {
    padding: 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
}
